* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.a4-container {
    width: 210mm;
    height: 297mm;
    margin: 0 auto;
    border: 2px solid black;
    padding: 10mm;
    box-sizing: border-box;
}

.content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.container {
    flex: 1;
    width: 190mm;
    background: white;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  auto;
    
}

.faHead {
    grid-row: 1;
    grid-column: 2;
    color: white;
    background-color: blue;
    border: 0.6mm solid blue;
    width: 95mm;
    justify-self: end;
    padding: 2.6mm 2.6mm 2.6mm 4mm;
    margin-bottom: 20px;
}

.dodavatel {
    text-align: left;
    grid-column: 1;
    grid-row: 2;
    margin: 2.6mm 0 2.6mm 10mm;
}

.odberatel {
    grid-column: 2;
    grid-row: 2;
    margin: 2.6mm 0 2.6mm 8mm;
}

.line {
    border-left: 0.3mm solid rgb(207, 196, 196);
    grid-row: 2;
    grid-column: 2;
    height: 48mm;
}

.dodBank {
    background-color: blue;
    color: white;
    grid-column: 1;
    grid-row: 3;
    margin: 0 0 2.6mm 0;
    padding: 2.6mm 2.6mm 2.6mm 10mm;
}

.odbDat {
    text-align: left;
    grid-column: 2;
    grid-row: 3;
    margin: 0 0 2.6mm 0;
    background-color: rgb(226, 225, 225);
    padding: 2.6mm 2.6mm 2.6mm 8mm;
}

p {
    font-size: 4.5mm;
}

span {
    font-weight: bold;
    padding-left: 13mm;
}

table {
    grid-column: span 2;
    grid-row: 5;
    border-collapse: collapse;
    margin: 1mm auto 5mm auto;
    font-size: 3.5mm;
    font-family: sans-serif;
    min-width: 100mm;
    /* box-shadow: 0 0 5mm rgba(0, 0, 0, 0.15); */
    table-layout: fixed;
}
    

table thead {
    background-color: blue;
}


table thead tr th {
    padding: 3mm;
    
    text-align: left;
    
    color: white;
     border:0.5mm solid black;
    
}


table td {
    margin: 0;
    padding: 0.5mm 1mm; 
    line-height: 6mm;
    border:0.5mm solid black;
    border-collapse: collapse;
   
}

table tr {
    min-height: 6.5mm; /* nebo kolik potřebuješ */
}

table td p {
    margin: 0;
    font-size: 3.5mm;
    line-height: 6mm;
}

.centerAlign {
    text-align: center;
}

.totalAmount {
    grid-column: 2;
    grid-row: 6;
    justify-self: right;
    margin-right: 13mm;
    
}

.totalAmount h3 {
    padding: 2.6mm;
    margin-top:0;
    text-align: right;
    margin-right: 8mm;
    border-bottom: 0.5mm solid blue;
}



.razitko {
    width: 53mm;
    grid-column: 2;
    grid-row: 7;
    margin-left: auto;
    margin-right: 18mm;
    margin-top: 5mm;

}

.razitko img {
    width: 100%;
    max-width: 53mm;
    height: auto;
}

.qrWrapper {
    grid-column: 1;
    grid-row: 7;
    width: 35mm;
    height: 35mm;
    margin-top: 5mm;
    margin-left: 20mm;
    border: 2px dashed black;
    ;

}

.qrWrapper img {
    width: 100%;
    height: 100%;
    

} 

.qrLabel {
    margin-left: 8mm;
    margin-top: 3mm;
}

footer{
    
    grid-column: span 2;
    margin: auto 0 10mm 0;
    
    
}

/* .toBreak {
    break-inside: avoid;
} */

footer .dph {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3mm;
    font-weight: bold;
}

footer .sign-flex {
    display:flex;
    justify-content: space-around;
    
    
    
}


footer .line2 {
    
    border-bottom: 2px solid rgb(0, 0, 0);
    
}
footer .customer-sign {
    
    margin : 8mm 0 0 0 ;
    
    
    
    
}

footer .sign-date {
    
    margin: 8mm 0 0 0;
    
}

footer .sign-line {
    border-bottom: 1px solid black;
    width: 30mm;
    margin: 0 0 0 3mm;
    display: inline-block;
    height: 4mm;
    vertical-align: bottom;
    
    
}

