<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
            <div class="faHead">
                <h1>Faktura 2018-1015</h1>
                <p>Daňový doklad</p>
            </div>
           
                <div class="dodavatel">
                        <p style="font-weight: bold;">DODAVATEL</p><br>
                        <p>Jakub Večeřa</p>
                        <p>Dolní&nbsp;Bečva&nbsp;566</p>
                        <p>756&nbsp;55&nbsp;Dolní Bečva</p><br>
                        <p>IČO 888888</p>


                    </div>
                        <div class="line">
                            

                        </div>

                    <div class="odberatel">
                        <p style="font-weight: bold;">ODBĚRATEL</p><br>
                        

                        <p>Bohumil Večeřa</p>
                        <p>Březinova 5/1039</p>
                        <p>700 30 Ostrava</p><br>
                        <p>IČO 888888</p>


                </div>

       
           
                <div class="dodBank">
                    <div class="toFlex">

                   
                        <div class="dodText">
                            <p>Bankovní účet <span>213057318/0600</span></p>
                            <p>Variabilní symbol</p>
                            <p>Způsob platby <span>Převodem</span></p><br>
                        </div>
                        
                        <div class = "dodQr">
                            <img  class="qrCode" src="../static/img/qr-sample.png" alt="">

                        </div>
                     </div>
                </div>
                    
                
                <div class="line"></div>
                <div class="odbDat">
                    <p>Datum vystavení <span>27.8.2025</span></p>
                    <p>Datum splatnosti <span>+14 dní</span></p>


                </div>


            
                <table>
                    <thead>
                        <tr>
                            <th>Označení dodávky</th>
                            <th>Množství</th>
                            <th>Jedn. cena</th>
                            <th>Sleva %</th>
                            <th>Cena</th>
                        </tr>

                    </thead>
                    <tbody>

                         <tr>
                            <td>Realizace fasády</td>
                            <td>250m2</td>
                            <td>1200</td>
                            <td></td>
                            <td>306 500,-</td>
                        </tr>

                    <tr>
                        <td>štukování</td>
                        <td>50m2</td>
                        <td>800</td>
                        <td>10 %</td>
                        <td>40 000,-</td>

                    </tr>
                    
          



                    </tbody>
                </table>

        <div class="totalAmount">
            <h3>Celkem k úhradě 25 000,-</h3>
        </div>
                

                
            <img class="razitko" src="../static/img/kubarazitko.png" alt="">
            
           

            
           
        
        
   

    
    
    
    </div>
    
    
    
</body>
</html>