<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <div class="a4-container">
        <div class="content-container">


   
    <div class="container">
            <div class="faHead">
                <h1>Faktura {{data.others.invoke_num}}</h1>
                <p>Daňový doklad</p>
            </div>
           
                <div class="dodavatel">
                        <p style="font-weight: bold;">DODAVATEL</p><br>
                        <p>{{data.supplier.name}}</p>
                        <p>{{data.supplier.address}}</p>
                        <p>{{data.supplier.psc}} {{data.supplier.town}}</p><br>
                        <p>IČO {{data.supplier.ico}}</p>
                        <p>DIČ {{data.supplier.dic}}</p>
                        
                        


                    </div>
                        <div class="line">
                            

                        </div>

                    <div class="odberatel">
                        <p style="font-weight: bold;">ODBĚRATEL</p><br>
                        

                        <p>{{data.customer.name}}</p>
                        <p>{{data.customer.address}}</p>
                        <p>{{data.customer.psc}} {{data.customer.town}}</p><br>
                        <p>IČO {{data.customer.ico}}</p>
                        <p>DIČ {{data.customer.dic}}</p>


                </div>

       
           
                <div class="dodBank">
                    <div class="toFlex">

                   
                        <div class="dodText">
                            <p>Bankovní účet <span>{{data.others.bank_acc}}</span></p>
                            <p>Způsob platby <span>{{data.others.payment_method}}</span></p><br>
                        </div>
                      
                     </div>
                </div>
                    
                
                <div class="line"></div>
                <div class="odbDat">
                    <p>Datum vystavení <span>{{data.others.issue_date}}</span></p>
                    <p>Datum splatnosti <span>{{data.others.due_date}}</span></p>


                </div>


                
                <table>
                    <thead>
                        <tr>
                            <th>Označení dodávky</th>
                            <th>Množství</th>
                            <th>Jedn. cena</th>
                            <th>Sleva %</th>
                            <th>Cena</th>
                        </tr>

                    </thead>
                    <tbody>
                    {% for x in data.calculation %}
                         <tr>
                            <td>{{x.material_name}}</td>
                            <td>{{x.amount}}</td>
                            <td>{{x.single_price}}</td>
                            <td>{{x.discount}}</td>
                            <td>{{x.price}}</td>
                        </tr>
                    {% endfor %}
                    
                    </tbody>
                </table>

        <div class="totalAmount">
            <h3>Celkem k úhradě 25 000,-</h3>
        </div>
                

        <div class="razitko">
        
            <img src="../static/img/kubarazitko.png" alt="Razítko">
            </div>
            
            <div class="qrWrapper">
            <img src="../static/img/myqr_1.png"alt="QR kód">
            <p class="qrLabel">QR platba</p>
            </div>
        
   
        
        </div>
     <footer>
        <div class="dph">Nejsem plátce DPH.</div>
        <div class = "line2"></div>
            
        <div class = "sign-flex">
        <div class = "customer-sign">Převzal: <span class="sign-line"></span></div>
            
            
        <div class="sign-date">Datum: <span class="sign-line"></span></div>

        </div>
            
            
    </footer>
            
    </div>
</div>
     
    
    
    
</body>
</html>