<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <div class="a4-container">
        <div class="content-container">


   
    <div class="container">
            <div class="faHead">
                <h1>Faktura </h1>
                <p>Daňový doklad</p>
            </div>
           
                <div class="dodavatel">
                        <p style="font-weight: bold;">DODAVATEL</p><br>
                        <p>Jakub Jurajda</p>
                        <p>Prostřední Bečva 482</p>
                        <p>756 56 Prostřední Bečva</p><br>
                        <p>IČO 06929141</p>
                        <p>DIČ </p>
                        
                        


                    </div>
                        <div class="line">
                            

                        </div>

                    <div class="odberatel">
                        <p style="font-weight: bold;">ODBĚRATEL</p><br>
                        

                        <p></p>
                        <p></p>
                        <p> </p><br>
                        <p>IČO </p>
                        <p>DIČ </p>


                </div>

       
           
                <div class="dodBank">
                    <div class="toFlex">

                   
                        <div class="dodText">
                            <p>Bankovní účet <span></span></p>
                            <p>Způsob platby <span>Převodem</span></p><br>
                        </div>
                      
                     </div>
                </div>
                    
                
                <div class="line"></div>
                <div class="odbDat">
                    <p>Datum vystavení <span></span></p>
                    <p>Datum splatnosti <span></span></p>


                </div>


                
                <table style="width: 100%;">
                    <thead>
                        <tr>
                            <th style="width: 50%;">Označení dodávky</th>
                            <th>Množství</th>
                            <th >Jedn. cena</th>
                            <th >Sleva</th>
                            <th >Cena</th>
                        </tr>

                    </thead>
                    <tbody>
                    
                         <tr>
                            <td  >ahoj</td>
                            <td class="centerAlign" ></td>
                            <td class="centerAlign"></td>
                            <td class="centerAlign"></td>
                            <td class="centerAlign"></td>
                        </tr>  
                    
                    
                    </tbody>
                </table>

        <div class="totalAmount">
            <h3>Celkem k úhradě </h3>
        </div>
                
    
        <div class="razitko">
        
            <img src="../static/img/kubarazitko.png" alt="Razítko">
            </div>
            
            <div class="qrWrapper">
            <img src="../static/img/myqr.png"alt="QR kód">
            <p class="qrLabel">QR platba</p>
            </div>
        
   
        
        </div>
     <footer class ="toBreak">
        <div class="dph">Nejsem plátce DPH.</div>
        <div class = "line2"></div>
            
        <div class = "sign-flex">
        <div class = "customer-sign">Převzal: <span class="sign-line"></span></div>
            
            
        <div class="sign-date">Datum: <span class="sign-line"></span></div>

        </div>
            
            
    </footer>
            
    </div>
</div>
     
    
    
    
</body>
</html>